@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
* {
box-sizing: border-box
}
/* ---------------------------------------------- */
* {
  font-family: 'Raleway', sans-serif;
  color: #0E1428;
}
*::selection {
  background: #D6F49DAA;
}
body, html {
  background: #efefef;
}
header {
  background-color: #F0A202;
  color: #0E1428;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 20px #66542C;
  padding: 20px 50px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
header h1 {
  font-weight: 700;
  font-size: 2rem;
  cursor: default;
}
header .logo {
  cursor: default;
}
#assignments {
  min-height: 600px;
}
#inputs {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
input {
  background: #efefef;
  border: none;
  border-bottom: solid 2px #0E1428;
  min-width: 200px;
  transition: .5s;
  font-size: .8rem;
}
input:nth-of-type(3) {
  min-width: 80px;
  max-width: 80px;
}
input:nth-of-type(4) {
  width: 400px;
}
input::placeholder {
  transition: .5s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input:hover {
  border-bottom: solid 2px #f0a202;
  color: #f0a202;
}
input:hover::placeholder {
  color: #f0a202;
}
input:focus {
  outline: none;
  border-bottom: solid 2px #F18805;
  color: #D95D39;
}
input:focus::placeholder {
  color: #D95D39;
}

button {
  background: #efefef;
  box-shadow: 0 0 5px #ccc;
  border: none;
  border: 1px solid #0E1428;
  padding: 5px 20px;
  transition: .2s;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background: #D6F49D;
  color: #0E1428;
  box-shadow: 0 0 5px #fff, inset 0 0 5px #bfb;
}

.list-item {
  border: 2px solid #0E1428;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 10px auto;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}
.list-item > h3 h4 {
  margin: 0 10px;
  min-width: 25%;
}
.list-item > h3:nth-last-of-type(1) {
  min-width: 50%;
}